[Unit]
Description=Ledcontroller service
After=network.target

[Service]
User=pi
Type=simple
ExecStart=/usr/bin/python /home/pi/pyLedController/pixelLightServer.py
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
